*{box-sizing: border-box;}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #544837;
    font-size: 16px;
    line-height: 26px;
}
ul {
    padding: 0;
}
li{
    list-style-type: none;
}
.title{
    color: #2F281E;
}
.container{
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Header */
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}
.menu{
    margin-left: auto;
}
.menu__list{
    display: flex;
}
.menu__list-item + .menu__list-item{
    margin-left: 24px;
}
.menu__list-link{
    color: #2F281E;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}
.user-nav{
    margin-left: 52px;
    margin-right: 13px;
}
.user-nav__link{
    padding: 11px 23px;
    color: #173A56;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
}
.user-nav__link + .user-nav__link{
    margin-left: 14px;
    border-color: transparent;
    background-color: #FF9900;
    color: #fff;
}
/* Section Top */
.top{
    padding: 133px 0 80px;
}
.top__title{
    font-weight: bold;
    font-style: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    max-width: 518px;
}
.top__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 45px;
}